<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<ul>
    <li><a href="/recently">recently</a></li>
    <li><a href="/recommander">recommander</a></li>
    <li><a href="/favor">favor</a></li>
    <li><a href="/download">download</a></li>
    <li><a href="/search/妹">Search</a>  </li>
</ul>
</body>
</html>